infere_symmetry_singlephase/trainings/
infere_symmetry_singlephase/old_datasets/
infere_symmetry_singlephase/tuner/
infere_symmetry_singlephase/databases/
.vscode
texture_analysis/plots*/
texture_analysis/ratios*.csv
texture_analysis/old
UV-vis_analysis/GapExtractor
*.pdf
slurm*
.VSCodeCounter
dataset_simulations/patterns
*.pyc
dataset_simulations/__py_cache__
train_dataset/tuner
weights*
checkpoint
train_dataset/unet
dataset_simulations/test.npy
train_dataset/classifier
*.nbc
*.nbi
*.lprof
train_dataset/predictions/*
compare_debug
compare_original
*.py.prof
train_dataset/classifier_spgs/*
train_dataset/RRUFF_data/*
train_dataset/comparison_plots/*
dataset_simulations/set_wyckoffs_statistics*
dataset_simulations/prepared_training*
*.cif
train_dataset/utils/max_losses
train_dataset/utils/*.png
dataset_simulations/denseness_factors_fit_*.png