infere_symmetry_singlephase/trainings/
infere_symmetry_singlephase/old_datasets/
infere_symmetry_singlephase/tuner/
infere_symmetry_singlephase/databases/
.vscode
texture_analysis/plots*/
texture_analysis/ratios*.csv
texture_analysis/old
UV-vis_analysis/GapExtractor
*.pdf
slurm*
.VSCodeCounter
dataset_simulations/patterns
*.pyc
dataset_simulations/__py_cache__
train_dataset/tuner
weights*
checkpoint
train_dataset/unet
dataset_simulations/test.npy
train_dataset/classifier
*.nbc
*.nbi